.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    float: left;
    position: fixed;
    top: 50px;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
  
  .sidebar a:hover:not(.active) {
    font-weight: bolder;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }