
  .signup-form {
    background-color: lavender;
    float: left;
    width: 300px;
    height: 400px;
    margin: auto;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 70px;
  }
  