*{
 text-align: center;
}

.error, .active{
  color: red;
}
.container{
  width: 100%;
}

.nav-box{
    background-color: lavender;
    display: inline-block;
    width: 20%;
    margin: 5% 40% 1% 40%;
    height: 70px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 70px;
}

header{
  width:100%; 
  position: fixed;
  top: 0;
  background: pink; 
  height: 50px;
}
footer {
  width:100%; 
  flex-shrink: 0;
  background: black; 
  height: 50px;
  position: fixed;
  bottom: 0;
  color: #ffffff;
}

.signUpForm, .loginForm {
  padding: 10px;
}

[type="radio"]{
  display: inline-block;
  width: 15%;
  height: 20px;
  margin: 0%;
  border-radius: 0px;
  border-style: solid;
  border-color: lightgray;
  text-align: right;

} 
select{
  margin-top: 5%;
  border-radius: 15px;
  border-style: solid;
  border-color: lightgray;
}

input {
  width: 80%;
  height: 20px;
  margin-bottom: 2%;
  border-radius: 15px;
  border-style: solid;
  border-color: lightgray;
  text-align: left;
}

.btn {
  text-align: center;
  height: 30px;
  margin-top: 5%;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(4, 218, 40, 0.767);
}