.form {
  padding: 10px;
}
.cntr {
  width: 300px;
  margin: auto;
  border: 2px solid grey;
  border-radius: 3px;
  padding: 20px;
  padding-bottom: 70px;
}
input {
  width: 90%;
  margin-bottom: 2%;
  border-radius: 2px;
  border-style: solid;
  border-color: lightgray;
}
