*{
  text-align: center;
}
img{
  height: 75px;
}

button {
  background-color: #555555; 
  border: none;
  color: whitesmoke;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
button:hover:not(active){
  background-color:gray;
}
.btn.active{
  background-color: #4CAF50;
}
h1,p {
  margin-left: 10%;
  text-align: left;
  display: block;
  padding-top: 10px;
}
.table {
  width: 80%;
  margin: 5% 0% 5% 10%;
  display: table;
  border-top: solid;
  border-left: solid;
  border-width: thin;
}
.row { 
  display: table-row;
}
.cell {
  width: 20%;
  text-align: left;
  display: table-cell;
  border-right: solid;
  border-bottom: solid;
  border-width: thin;
  padding: 5px 0 0 10px;
}

ul {
  list-style-type: none;
  margin-left: 10%;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  text-align: center;
  padding: 10px;
  display: inline;
  color: grey;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: black;
}

li a.active {
  color: black;
}


.pagination {
  margin-left: 10%;
  float: left;
 
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

